.ipynb_checkpoints
*.ipynb

*.py[cod]
__pycache__

output
.xlsx
*.out
*.prof

*.swp
.DS_Store

# Data files for training language models. Not sure what the copyright is on them, so I provide instructions to reproduce instead
language-models/cofea/from-website.txt
language-models/wilkinson/wilkinson_letters.txt